<mat-card class="box">
    <mat-card-header class="center">
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>

    <form [formGroup]="form">
      <mat-card-content>
        <mat-form-field class="center">
          <input matInput placeholder="{{ 'USERNAME' | translate}}" name="username" formControlName="username">
        </mat-form-field>
        <br>
        <mat-form-field class="center">
          <input matInput placeholder="{{ 'PASSWORD' | translate}}" name="password" formControlName="password" 
          type="password">
        </mat-form-field>
      </mat-card-content>
      <button mat-stroked-button color="accent" class="center" (click)="login()">Log in</button>
    </form>
  </mat-card>